*.zip
*.vscode
*.o
*.out
zipList.txt
*/build
*after.bmp
a3_baseline/main
a4/mandel
a4/output
a4_baseline/mandel
a4_baseline/output
a5/pthread/mandel
a5/pthread/output
a5/openmp/main
a6/mandel
a6/*.bmp
a7/*.bmp